{
  "from": {{from}},
  "size": {{size}},
  {{#noSources}}
  "_source": ["_id"],
  {{/noSources}}
  "query":{
      "bool": {
            "must": [
                 {{#hasKey}}
                        {
                            "query_string": {
                               "fields" : ["properties^10","title^5", "subtitle^4","author^3","paragraphs^2","baikeDesc"],
                               "query": "{{key}}"
                            }
                        }
                  {{/hasKey}}

                  {{^hasKey}}
                  {"match_all": {}}
                  {{/hasKey}}

                  {{#hasProps}}
                        {{#props}}
                        ,{
                            "terms":{
                                    "properties.{{propKey}}.keyword":{{#toJson}}propVals{{/toJson}}
                            }
                        }
                       {{/props}}
                  {{/hasProps}}

            ]
      }
  },
  "aggs":  { {{#aggsInfos}}"{{aggsName}}":{"terms":{"field":"{{field}}","size":"{{size}}"}} {{end}} {{/aggsInfos}} },
  {{#needHighLight}}
    "highlight": {
             "fields": {
                "title": {
                },
                "author" : {
                },
                "paragraphs": {
                }
             }
    },
    {{/needHighLight}}
      "sort":{
             "_score":{
                "order":"desc"
              },
               {{#hasKey}}
                  "index":{
                    "order":"asc"
                  }
              {{/hasKey}}
              {{^hasKey}}
                  "count":{
                    "order":"desc"
                  }
              {{/hasKey}}
         }

}