{
  "from": {{from}},
  "size": {{size}},
  {{#noSources}}
  "_source": ["_id"],
  {{/noSources}}
  "query":{
      "bool": {
            "should": [
                 {{#hasKey}}
                        {
                            "query_string": {
                               "fields" : ["title^3", "subtitle^3","paragraphs^3","baikeDesc"],
                               "query": "{{key}}"
                            }
                        },
                        {
                            "simple_query_string":{
                                 "fields": ["propKey^100","propVals^100","author^200","paragraphs^50"],
                                 "query": "{{key}}"
                            }
                        }
                  {{/hasKey}}

                  {{^hasKey}}
                  {"match_all": {}}
                  {{/hasKey}}
            ]


                  {{#hasProps}}
                  ,"must" :
                  [
                        {{#props}}
                        {
                            "terms":{
                                    "properties.{{propKey}}.keyword":{{#toJson}}propVals{{/toJson}}
                            }
                        }{{end}}
                       {{/props}}
                  ]
                  {{/hasProps}}
      }
  },
  "aggs":  { {{#aggsInfos}}"{{aggsName}}":{"terms":{"field":"{{field}}","size":"{{size}}"}} {{end}} {{/aggsInfos}} },
  {{#needHighLight}}
    "highlight": {
             "fields": {
                "title": {
                },
                "author" : {
                },
                "paragraphs": {
                }
             }
    },
    {{/needHighLight}}
      "sort":{
             "_score":{
                "order":"desc"
              },
               {{#hasKey}}
                  "index":{
                    "order":"asc"
                  }
              {{/hasKey}}
              {{^hasKey}}
                  "count":{
                    "order":"desc"
                  }
              {{/hasKey}}
         }

}