{
    "size": {{size}},
    "_source": ["suggestText"],
    "query": {
        {{#haveKeyword}}
        "multi_match": {
            "query": "{{keyword}}",
            "type": "bool_prefix",
            "fields": [
              "keyword",
              "keyword._2gram",
              "keyword._3gram"
            ]
        }
        {{/haveKeyword}}
        {{^haveKeyword}}
        "term": {
          "keyType": {
            "value": "0a"
          }
         }
        {{/haveKeyword}}
    },


    "suggest": {
         {{#suggestInfos}}
            "{{suggestName}}":{"prefix": "{{keyword}}", "completion":{"field":"{{field}}", "size": {{size}}, "skip_duplicates":true} }  {{end}}
         {{/suggestInfos}}
    },
    "sort":{
         "_score":{
                "order":"desc"
          },
          "count":{
                "order":"desc"
          },
          "keyType":{
                "order":"asc"
          },
          "relId":{
              "order":"asc"
          }
    }
}